.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pic{
  height: 80px;
  border: solid 3px transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white),
                    linear-gradient( purple, yellow);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

body{
  background:#fafafa;
  margin:0;
  padding:0;
}

*{
  font-family: "proxima-nova",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.instagram{
  background:#ffffff;
  border: 1px solid #e6e6e6;
  width:350px;
  border-radius:3px;
  margin-bottom:10px;
  text-align:center;
  padding:5px;
}

.all{
  width:350px;
  position:relative;
  left:50%;
  margin-left:-175px;
  margin-top:25px;
}

.input{
  width:270px;
  margin:auto;
}

.inputer input{
  width: 250px;
  padding:10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-top:7px;
  outline:0;
  color:#262626;
}

.inputer input:focus{
  border:1px solid #aaa;
}

.buttons{
  width:270px;
  margin:auto;
}

.buttons button{
  width: 100%;
  outline:0;
  font-size:14px;
  margin-top:15px;
  margin-bottom:25px;
  padding:10px;
  font-weight:bold;
  color:#fff;
  background:#3897f0;
  border:none;
  border-radius: 6px;
  cursor: pointer;
}

.logo {
  margin:auto;
  width:270px;
  text-align:center;
}

.logo img{
  width:60%;
  margin-top:20px;
}

.facebook{
  width:270px;
  margin:auto;
  text-align:center;
  color:#262626;
  font-size:13px;
  margin-bottom:15px;
}

.pad{
  padding:20px 5px;
}
